/* hidden hover for a element */
a,
div {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.activity-container {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

/* trans pop-up */
.pop-up {
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transform: scale(0.9);
}

.hidden {
  display: none !important;
}

.header-logo {
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: center;
}

.activity-header {
  width: 100%;
  max-width: 500px;
  height: 60px;
  margin: auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-rows: 1fr;
}

.threads-svg {
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.2s;
  width: 18%;
}

.top-bar {
  width: 21px;
  height: 2.5px;
}

.bottom-bar {
  width: 14px;
  height: 2.5px;
}

.see-more-svg {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  display: block;
  position: relative;
  fill: #777777;
  left: 50%;
}

.see-more-button {
  width: 100%;
  display: flex;
  align-items: center;
}

.activity-footer {
  width: 100%;
  height: 60px;
  display: grid;
  position: fixed;
  bottom: 0;
  text-align: center;
  line-height: 60px;
  max-width: 500px;
  left: 50%; /* Left based on the size of the parent, transform: translate based on the element, same for top */
  /* Basically move to the right 50% - 50% of the element*/
  transform: translateX(
    -50%
  ); /* Will not need this if length of element is 0 */
  background-color: #0a0a0a;
  z-index: 2;
}

.nav-svg {
  width: 30px;
  height: 30px;
  color: rgba(243, 245, 247, 0.35);
  cursor: pointer;
}

.active {
  fill: #f3f5f7;
}

.activity-main {
  width: 100%;
  height: calc(100% - 50px);
  padding: 48px 0;
}

/* tag bar thread*/

.activity-main-tag {
  margin: 1rem;
  max-width: 100%;
  display: flex;
  position: relative;
  height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  column-gap: 6px;
  align-self: center;
  overflow-x: auto;
}

.activity-link-tag {
  min-width: 100px;
  max-width: 100%;
  height: 34px;
  border: 1px solid rgba(243, 245, 247, 0.15);
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  white-space: nowrap;
  flex-basis: auto;
  flex-shrink: 0;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  color: #f3f5f7;
}

.tag-active {
  background-color: white;
  color: black;
}

.activity-content-tag {
  font-weight: 600;
  font-size: 16px;
}

/* no content screen */
.none {
  display: flex;
  height: calc(100% - 60px);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.none span {
  color: rgb(119, 119, 119);
  font-size: 15px;
  font-weight: 400;
  line-height: calc(1.4 * 1em);
  position: relative;
}

/* follow screen */

.activity-follow {
  height: calc(100% - 40px);
  width: 100%;
  overflow-y: auto;
  user-select: none;
}

.activity-follow-block {
  display: block;
  position: relative;
  height: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

.activity-follow-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
}

.activity-follow-img {
  padding: 12px;
  grid-column-start: 1;
}

.activity-follow-img-block {
  position: relative;
  display: block;
}

.activity-follow-img-link-container {
  height: 36px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border-style: none;
  border-radius: 50%;
  display: flex;
}

.activity-follow-img-div {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.activity-follow-img-div img {
  border-radius: 50%;
  border: 0;
  object-fit: cover;
}

.activity-follow-img-svg-container {
  position: absolute;
  top: 20px;
  right: -6px;
}

.activity-follow-img-svg {
  height: 18px;
  width: 18px;
  border: 2px solid #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.avt-color {
  background-color: #6e3def;
}

.star-color {
  background-color: #007aff;
}

.activity-svg-avt {
  height: 18px;
  width: 18px;
  fill: #ffffff;
  flex-shrink: 0;
}

.activity-follow-infor-block {
  grid-column-start: 2;
  border-bottom: 0.5px solid rgba(243, 245, 247, 0.15);
  display: flex;
  padding-right: 12px;
}

.activity-follow-infor-container {
  padding-top: 12px;
  padding-bottom: 12px;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  cursor: pointer;
}

.activity-follow-infor-element {
  display: flex;
  align-items: center;
}

.activity-follow-infor-left {
  flex-grow: 1;
  min-width: 0;
}

.activity-follow-infor-header {
  display: flex;
  gap: 2px;
  max-width: 100%;
  overflow: hidden;
}

.activity-follow-infor-header-name {
  max-width: calc(100vw / 3.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.change-width {
  max-width: calc(100vw / 1.7);
}
.activity-follow-infor-header-name span {
  font-size: 15px;
  font-weight: 600;
  max-width: 100%;
  color: #f3f5f7;
}

.activity-follow-infor-header-time span {
  font-size: 15px;
  font-weight: 400;
  color: #777777;
  text-overflow: ellipsis;
  line-height: calc(1.4 * 1em);
  max-width: 100%;
}

.activity-follow-infor-footer {
  font-size: 15px;
  font-weight: 400;
  color: #777777;
  text-overflow: ellipsis;
  line-height: calc(1.4 * 1em);
  max-width: 100%;
}

.activity-follow-infor-content {
  padding-top: 0.5em;
  font-size: 15px;
  font-weight: 400;
  color: #f3f5f7;
  line-height: calc(1.4 * 1em);
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.activity-follow-infor-right {
  height: 42px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  align-self: flex-start;
}

.activity-follow-infor-button {
  min-width: 104px;
  height: 34px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(243, 245, 247, 0.15);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-basis: auto;
  display: flex;
}

.activity-follow-infor-button-content {
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  color: #777777;
}

.active-content {
  color: #f3f5f7;
}

.activity-follow-infor-react-container {
  display: flex;
  height: 20px;
  margin-top: 6px;
  margin-bottom: 10px;
  position: relative;
}
.activity-follow-infor-react-flex {
  display: flex;
  gap: 2.5rem;
  user-select: none;
}

.activity-follow-infor-react {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: calc(100vw / 10);
  gap: 4px;
}

.activity-follow-infor-react.span {
  font-size: 13px;
  color: #cccccc;
}

.react-svg {
  height: 18px;
  width: 18px;
  stroke-width: 2;
  stroke: currentColor;
  color: #cccccc;
  flex-shrink: 0;
}

.react-reposts {
  height: 18px;
  width: 18px;
  flex-shrink: 0;
  color: #cccccc;
  fill: currentColor;
}

.react-shared {
  /*display inside*/
  fill: none;
}

.react-like-on {
  color: red;
  fill: red;
  font-weight: 600;
}

/*navbar setting*/

.nav-setting-container {
  position: absolute;
  transform: translate(calc(100vw - 10px), 54px) translate(-100%, 0px);
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  margin-top: -8px;
}

.nav-setting-box {
  height: 340.656px;
  width: 240px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(24, 24, 24);
  border-radius: 16px;
}

.nav-setting-top {
  padding: 8px;
  border-bottom: 1px solid rgb(51, 54, 56);
}

.nav-setting-bottom {
  padding: 8px;
}

.nav-setting-content {
  padding: 11.5px;
  min-height: 24px;
  display: inline-block;
  width: 100%;
}

.nav-setting-text {
  width: 100%;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.nav-setting-text span {
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
  text-align: start;
  word-wrap: break-word;
  display: block;
  line-height: calc(1.4 * 1em);
  color: rgb(243, 245, 247);
  font-size: 15px;
  font-weight: 600;
}

.nav-setting-icon span {
  transform: rotate(180deg);
  display: inline-block;
}

.next-svg {
  color: rgb(119, 119, 119);
  height: 16px;
  width: 16px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
}

/*reposts content*/
.reposts-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  z-index: 1;
}

.reposts-container {
  background-color: rgb(24, 24, 24);
  width: 100%;
  border: 0.5px solid rgba(243, 245, 247, 0.15);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.reposts-box {
  margin: 16px;
  border-radius: 14px;
  background-color: rgb(30, 30, 30);
}

.reposts-content {
  padding: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.reposts-top {
  border-bottom: 0.5px solid rgba(243, 245, 247, 0.15);
}
.reposts-text {
  display: flex;
  width: 100%;
  position: relative;
}

.reposts-text span {
  display: block;
  line-height: calc(1.4 * 1em);
  overflow: hidden;
  max-width: 100%;
  font-size: 15px;
  text-align: start;
  word-break: break-word;
  font-weight: 600;
  flex-grow: 1;
}

.reposts-icon {
  display: flex;
  margin-left: 8px;
  align-items: center;
}

.reposts-primary-svg {
  height: 20px;
  width: 20px;
  display: block;
  position: relative;
  color: rgb(243, 245, 247);
  fill: currentColor;
}

@media (min-width: 600px) {
  .activity-container {
    display: flex;
  }
  .activity-header {
    display: none;
  }

  .activity-footer {
    display: none;
  }

  .activity-main {
    max-width: 640px;
    min-height: 100vh;
    display: flex;
    padding: 0;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
  }

  .activity-main-tag {
    min-height: 60px;
    width: 100%;
    top: 0;
    background-color: #121212;
    display: flex;
    /* fixed header */
    position: sticky;
    align-items: center;
    z-index: 1;
  }
  .activity-link-tag {
    display: none;
  }

  .activity-follow-infor-react-flex {
    gap: 1rem;
  }

  .activity-follow-infor-container {
    padding-bottom: 18px;
  }

  .activity-follow {
    padding-top: 8px;
    overscroll-behavior-y: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(24, 24, 24);
    border: 0.5px solid rgb(45, 45, 45);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    position: relative;
    flex-grow: 1;
    will-change: scroll-position;
    scrollbar-width: none;
    transform-style: preserve-3d;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04);
    flex-basis: 100%;
  }
}

.footer-nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #777777;
  text-decoration: none;
}

a{
  text-decoration: none;
}