<main>
  <div>
    <svg
      aria-label="Trouble logging in?"
      height="96"
      role="img"
      viewBox="0 0 96 96"
      width="96"
    >
      <title>Set new password</title>
      <circle
        cx="48"
        cy="48"
        fill="none"
        r="47"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      ></circle>
      <path
        d="M60.931 70.001H35.065a5.036 5.036 0 0 1-5.068-5.004V46.005A5.036 5.036 0 0 1 35.065 41H60.93a5.035 5.035 0 0 1 5.066 5.004v18.992A5.035 5.035 0 0 1 60.93 70ZM37.999 39.996v-6.998a10 10 0 0 1 20 0v6.998"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      ></path>
    </svg>
    <h1>Set new password</h1>
    <form>
      <div class="grid-container password-input-container">
        <div class="init-password-container">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            value=""
            {{! pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)” + “(?=.*[-+_!@#$%^&*., ?]).+$" }}
            minlength="8"
            title="At least 8 characters, with numbers, speacial characters, uppercase letters, and lowercase letters"
            required
          />
          <div class="password-strength-bar"></div>
        </div>
        <div class="cf-password-container">
          <input
            type="password"
            id="cf-password"
            name="cf-password"
            placeholder="Confirm password"
            value=""
            title="Re-enter your password"
            required
          />
        </div>
        <div>
          <input type="checkbox" id="show-password" />
          <label for="show-password">Show password</label>
        </div>
        <div class="password-match-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#84ff8d"
            class="bi bi-check-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
            />
          </svg>
          Password matched
        </div>
      </div>
      <input type="submit" value="Set password" />
    </form>
  </div>
</main>

<script src="/js/reset-password-check.js" type="module"></script>
<script src="/js/reset-password-set.js" type="module"></script>