:root {
	--search-container-padding-lr: 12px;
}
header,
nav {
	background-color: rgba(16, 16, 16, 0.85);
}
body {
	background-color: rgba(16, 16, 16);
	height: 100%;
}
main {
	padding: 52px 0 52px 0;
	height: auto;
	min-height: 100%;
}
input[type="text"] {
	font-size: 1.2rem;
	width: calc(100% - var(--search-container-padding-lr, 8px) * 2);
	background-image: url("./search-icon.svg");
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 20px;
	background-color: black;
	padding-left: 40px;

	border-radius: 12px;
}
input:focus,
form:focus {
	outline: none;
	border: none;
	background-color: black;
}
@media only screen and (min-width: 500.1px) {
	body {
		background-color: rgb(10, 10, 10);
		overflow-x: hidden;
	}
	#main-container {
		width: 100%;
		min-height: calc(100vh - 52px * 2);
		padding: 0;
		background-color: rgb(24, 24, 24);
		border-radius: 20px;
	}

	form {
		background-color: none;
	}
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 12px;
	padding-bottom: 12px;
	color: rgb(243, 245, 247);
	background-color: rgb(24, 24, 24);
}

form > svg {
	position: absolute;
	left: 12px;
}

#search-bar-container {
	background-color: none;
}

/* back button*/
.back-button {
	position: absolute;
	left: 16px;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-button-svg {
	height: 20px;
	width: 20px;
	fill: none;
	color: rgb(243, 245, 247);
	stroke-width: 2;
	stroke-linecap: round;
	stroke: currentColor;
}
/* back button*/
#header-logo {
	display: flex;
	align-items: center;
	max-width: 100%;
    width: 36px;
    height: 36px;
    place-self: center;
	justify-content: center;
}