:root {
  --maxwidth-login-form: 420px;
  --col-row-gap: 12px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: var(--maxwidth-login-form, 400px);
}

main form {
  row-gap: var(--col-row-gap, 12px);
}

main > p {
  color: grey;
}

main h1,
main > p {
  padding-left: 12px;
  padding-right: 12px;
}

main > div {
  position: relative;
}

main > div p {
  color: grey;
}

main > div > p:first-child {
  position: absolute;
  left: 8px;
}

main > div > p:last-child {
  position: absolute;
  right: 8px;
}

main a:visited,
main a:link {
  color: white;
  text-decoration: none;
}

main a:active {
  border: 1px solid grey;
}
