:root {
    --input-gap: 12px;
    --password-strength-weak-color: #fc6868;
    --password-strength-average-color: #faff6d;
    --password-strength-strong-color: #84ff8d;
    --password-strength-weak-width: 30%;
    --password-strength-average-width: 60%;
    --password-strength-strong-width: 100%;
}

.password-input-container {
    column-gap: var(--input-gap, 12px);
    grid-template-columns: calc(50% - var(--input-gap, 12px) / 2) calc(50% - var(--input-gap, 12px) / 2);
    row-gap: 8px;
}

.init-password-container {
    grid-column: 1/span 1;
}

.cf-password-container {
    grid-column: 2/span 1;
}

.cf-password-container,
.init-password-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.password-strength-bar {
    height: 4px;
    border-radius: 8px;

    width: var(--password-strength-weak-width);
    background-color: var(--password-strength-weak-color);
    visibility: hidden;
}

.password-match-container {
    visibility: hidden;
}