* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #0a0a0a;
  color: #fff;
  line-height: 1.5;
  display: flex;
}

.popup-overlay {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.popup-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 0;
  align-items: center;
  .header-title {
    font-weight: bold;
  }
  button {
    background: none;
    border: none;
    color: #888;
    font-size: 1.25rem;
    cursor: pointer;
  }
}

.popup-content {
  display: flex;
  justify-content: center;
}

.thread-composer {
  display: flex;
  width: 100%;
  padding: 1rem;
  .compose-area {
    width: 100%;
    margin-left: 1rem;
    textarea {
      border: none;
      background-color: #0a0a0a;
      color: white;
      resize: none;
      height: auto;
      width: 100%;
      text-wrap: wrap;
    }
    textarea:focus {
      outline: none;
      border: none;
    }
    textarea::placeholder {
      color: gray;
    }
  }
  .opt-section {
    display: flex;
    gap: 1rem;
    img {
      width: 24px;
      cursor: pointer;
    }
  }
}

.thread-input {
  border: none;
  background-color: #0a0a0a;
  color: white;
  resize: none;
  min-height: 80px;
  max-height: 300px;
  width: 100%;
  overflow-y: hidden;
  padding: 8px 0;
  text-wrap: wrap;
  line-height: 1.5;
}

.thread-input:focus {
  outline: none;
  border: none;
}

.thread-input::placeholder {
  color: gray;
}