<div class="activity-follow all sm:bg-eerie-black sm:rounded-3xl sm:h-[calc(100vh-7rem)]">
    {{#each metadata}}
        {{#if (eq this.type "follow")}}
            {{>followNotification context=this}}
        {{else}}
            {{>contentNotification context=this}}
        {{/if}}
    {{/each}}
</div>

<!-- follow screen -->
<div class="activity-follow follow hidden sm:bg-eerie-black sm:rounded-3xl">
    {{#each metadata}}
            {{#if (eq this.type "follow")}}
                {{>followNotification context=this}}
            {{/if}}
    {{/each}}
</div>

<!-- like screen -->
<div class="activity-follow like hidden sm:bg-eerie-black sm:rounded-3xl">
    {{#each metadata}}
        {{#if (eq this.type "like")}}
            {{>contentNotification context=this}}
        {{/if}}
    {{/each}}
</div>

<!-- comment screen -->
<div class="activity-follow comment hidden sm:bg-eerie-black sm:rounded-3xl">
    {{#each metadata}}
        {{#if (eq this.type "comment")}}
            {{>contentNotification context=this}}
        {{/if}}
    {{/each}}
</div>
<script type="module" src="/js/activity.js"></script>