<main class="popup-overlay">
  <div class="popup">
    <div class="popup-header">
        <form action="" style="width: 0;">
          <button class="header-button" id="cancelButton">Cancel</button>
        </form>
        

        <span class="header-title">New thread</span>

        <button class="header-button">Draft</button>
    </div>
    
    <div class="popup-content">
        <div class="thread-composer">
            <div class="avatar"></div>
            <div class="compose-area">
                <div class="username">{{username}}</div>
                <textarea 
                    class="thread-input" 
                    placeholder="What's new?"
                    id="threadInput"
                    maxlength="500"
                ></textarea>
                <div class="opt-section">
                    <img src="../assets/card-image.svg" alt="">
                    <img src="../assets/filetype-gif.svg" alt="">
                    <img src="../assets/geo-alt.svg" alt="">
                </div>
            </div>
        </div>
    </div>
  </div>
</main>