<div class="w-full text-xl">
    {{!-- Post type selection --}}
    <div class="mx-auto max-w-4xl w-full grid grid-cols-2 py-4 border-b border-slate-100 border-opacity-50 sm:border-none ">
        <a href="/auth/feed/following" class="font-bold w-full text-center hover:cursor-pointer">Following</a>
        <a href="/auth/feed" class="font-bold w-full text-center hover:cursor-pointer">All</a>
    </div>
    {{!-- Posts feed --}}
    <div class="py-4 w-full sm:bg-eerie-black mx-auto max-w-4xl sm:mt-4 rounded-3xl">
    {{#each metadata}}
        {{> post this}}
    {{/each}}
    </div>
    
</div>
