<main>
    <h1>Say more with <span class="product-name">Simple-Threads</span></h1>
    <p>Join <span class="product-name">Simple-Threads</span> to share thoughts, find out what's going on, follow your people and more.</p>
    <form class="grid-container col-1 login" action="/" method="post">
        <input class="grid-item" name="username" type="text" placeholder="Username or email" minlength="1" required value="">
        <input class="grid-item" name="password" type="password" placeholder="Password" minlength="1" required value="">
        <input type="submit" value="Log in">
    </form>
    <div class="grid-container col-2">
        <p class="grid-item"><a href="#">Forgot password?</a></p>
        <p class="grid-item"><a href="#">Create an account?</a></p>
    </div>
</main>