<div class="w-full h-full flex justify-center items-center py-14 px-3">
    <div class="w-full h-auto max-w-xl px-8 py-14 rounded-3xl flex flex-col items-center border border-solid border-gray-600">
        <svg aria-label="Trouble logging in?" height="96" role="img" viewBox="0 0 96 96" width="96">
            <title>Set new password</title>
            <circle cx="48" cy="48" fill="none" r="47" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
            <path d="M60.931 70.001H35.065a5.036 5.036 0 0 1-5.068-5.004V46.005A5.036 5.036 0 0 1 35.065 41H60.93a5.035 5.035 0 0 1 5.066 5.004v18.992A5.035 5.035 0 0 1 60.93 70ZM37.999 39.996v-6.998a10 10 0 0 1 20 0v6.998" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
        </svg>
        <h1 class="text-center font-bold text-2xl text-white py-3">
            Set new password
        </h1>
        <form
            class="w-full h-auto grid grid-rows-[auto_auto_auto_auto_auto] gap-y-2"
            {{!-- sm:grid-rows-3 sm:grid-cols-2 sm:gap-x-1 --}}
            action="{{#if link}}link{{else}}/reset-password{{/if}}"
            method="post"
        >
            {{!-- password input --}}
            <div class="w-full h-auto row-start-1 row-end-1 flex flex-col items-start gap-1">
                <input
                    class="w-full h-12 rounded-2xl border-none py-2 px-3" minlength="8"
                    type="password" id="password" name="password" placeholder="Password" value=""
                    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)” + “(?=.*[-+_!@#$%^&*., ?]).+$"
                    title="At least 8 characters, with numbers, speacial characters, uppercase letters, and lowercase letters"
                    autocomplete="new-password"
                    required
                >
                <div class="h-0.5 rounded-lg" id="password-strength-bar">
                    {{!-- password strength --}}
                </div>
            </div>

            {{!-- confirm password input --}}
            <div class="w-full h-12 row-start-2 row-end-2 relative">
                <input
                    class="absolute left-0 top-0 w-full h-12 rounded-2xl border-none py-2 pl-3 pr-5"
                    type="password" id="cf-password" name="cf-password" placeholder="Confirm password" value=""
                    title="Re-enter your password" autocomplete="new-password" required
                >
                <svg
                    class="absolute h-full self-center right-2 z-50 invisible"
                    id="password-match-symbol"
                    width="28px" height="28px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"
                >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#35f35b" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </svg>
            </div>

            {{!-- show password checkbox --}}
            <div class="h-4 row-start-3 row-end-3 flex flex-row items-center gap-x-1 cursor-pointer">
                <input
                    class="h-auto w-3"
                    type="checkbox" id="show-password"
                >
                <label for="show-password">Show password</label>
            </div>

            {{!-- submit button --}}
            <input
                class="row-start-4 row-end-4 w-full h-12 rounded-2xl border-none py-2 px-3 text-black bg-slate-200 font-bold cursor-pointer"
                type="submit" value="Set password"
            >
            
            <p class="h-4 row-start-5 row-end-5 w-full text-white text-center">
                <a
                    class="w-full visited:text-white visited:no-underline link:text-white link:no-underline"
                    href="/login"
                >
                    Back to log in?
                </a>
            </p>
        </form>
    </div>
</div>

<script src="/js/password-validator.js" type="module"></script>