:root {
    --password-strength-weak-color: #fc6868;
    --password-strength-average-color: #faff6d;
    --password-strength-strong-color: #84ff8d;
    --password-strength-weak-width: 30%;
    --password-strength-average-width: 60%;
    --password-strength-strong-width: 100%;
}