:root {
  --head-foot-height: 3.5rem;
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica,
    Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  box-shadow: none;
}

*:active {
  box-shadow: none;
}

html {
  height: 100vh;
  font-size: calc(12px + 0.15vw); /* define 1rem */
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1rem;
}

header,
footer {
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

header a#logo {
  transition: 0.15s ease-in transform;
}

header a#logo:hover {
  transform: scale(1.1);
}

.footer-svg {
  color: rgba(243, 245, 247, 0.35);
}

.footer-svg > .active {
  fill: #f3f5f7;
}

@media (min-width: 640px) {
  footer {
    height: calc(100vh - 3.5rem) !important;
  }
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}
