.tabs > .active {
	color: rgb(243, 245, 247);
	border-bottom: 1px solid rgba(243, 245, 247);
}
.profile-follow-board.active {
	height: calc(100% - 60px - 60px);
	margin-bottom: 64px;
}

.tab.active {
	display: block;
}

.unfollow-modal.active {
	display: flex;
}

.share-modal.active {
	display: flex;
}

.edit-profile-modal.active {
	display: flex;
}