<div class="mx-auto max-w-xl bg-red-100 w-full">
  <div class="post-header">
    <div>{{username}}</div>
  </div>
  <div class="post-body">
    <div class="content">
      This is a sample Threads post. It could be about anything - thoughts,
      ideas, or updates. The platform encourages authentic conversations and
      meaningful engagement.
    </div>
  </div>
</div>