:root {
    --post-padding-top-bottom: 8px;
    --post-padding-left-right: 6px;
}
.post {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    column-gap: 4px;
    border-bottom: 1px solid #4a4949;
    padding: var(--post-padding-top-bottom, 4px) var(--post-padding-left-right, 6px);
}

.post-user {
    grid-column: 1/span 1;
    background-color: yellow;
}

.post-content {
    grid-column: 2/span 1;
    background-color: red;
}