<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Threads</title>

    <link rel="stylesheet" href="/css/normalize.css" as="style">
    <link rel="stylesheet" href="/css/style.css" as="style">
    <link rel="stylesheet" href="/css/index.css" as="style">

    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
</head>
<body>
    <header>

    </header>
    {{{body}}}
</body>
</html>